<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{{title}}</title>
        <link href="../static/css/test.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <a href=""><img src="../static/img/avatar.png" alt="Аватар" id="avatar"></a>
        <div id="panel">
            <h1><a id="home-link" href="">Tank Duel</a></h1>
        </div>
		<main role="main" class="container">
			{% block content %}{% endblock %}
		</main>
    </body>
</html>