<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="../static/css/style.css" />
		<title>{{title}}</title>
	</head>
    <body>
		<header>
			<a href="/login"><img src="../static/img/avatar.png" alt="Аватар" id="avatar"></a>
			<nav id="panel">
				<h1><a id="home-link" href="/">Tank Duel</a></h1>
			</nav>
			<main role="main" class="container">
				{% block content %}{% endblock %}
			</main>
		</header>
		<footer>
			© 2023 Tank Duel
		</footer>
    </body>
</html>
