{% extends "base.html" %}

{% block content %}
    <div class="alert alert-info greeting" role="alert">
        <h1>Добро пожаловать на сайт фанатов игры Tank Duel!</h1>
        Здесь вы найдёте:
        <ul>
            <li>Интересные блоги;</li>
            <li>Форум для общения;</li>
            <li>Гайды и туториалы;</li>
            <li>Модификации и дополнения;</li>
            <li>Истории разработчиков;</li>
            <li>Концепт-арты игры;</li>
            <li>И многое другое!</li>
        </ul>
    </div>
{% endblock %}
