
{% extends "base.html" %}

{% block content %}
    <div id="login" class="forms">
        <h1>Авторизация</h1>
        <form action="" method="post">
            {{form.hidden_tag()}}
            <p>
                {{form.email.label}}<br>
                {{form.email(class="form-control", type="email")}}<br>
                {% for error in form.email.errors %}
                    <div class="alert alert-danger" role="alert">{{error}}</div>
                {% endfor %}
            <p>
                {{form.password.label}}<br>
                {{form.password(class="form-control", type="password")}}<br>
                {% for error in form.password.errors %}
                    <div class="alert alert-danger" role="alert">{{error}}</div>
                {% endfor %}
            <p align="center">
                {{form.submit(type="submit", class="btn btn-primary")}}
            <div>{{message}}</div>
            <p>У вас нет аккаунта? Тогда <a href="/register">зарегистрируйтесь</a> на нашем сайте!</p>
        </form>
        <p>Если вы хотите выйти из текущего акаунта, нажмите <a href="/logout">сюда</a>.</p>
    </div>
{% endblock %}